@import '../../styles/base/settings.scss';

.loader{
    width: 100%;
    display: flex;
    justify-content: center;
    & > svg {
        animation: rotation 1s infinite linear;
        @keyframes rotation {
            from {
              transform: rotate(0deg);
            }
            to {
              transform: rotate(359deg);
            }
        }
    }
}
